
.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
  z-index: 9;
}
.btn-group-fab .btn-sub {
  bottom: 0; z-index: 8;
  right: 50%;
  margin-right: -20px;
  -webkit-transition: all 2s;
  transition: all 0.5s;
}
.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}

/** ICON PICKER **/
.iconcontent{
    width: 100%;
}
.icon-picker-list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
    padding-left: 0;
    height: 300px;
    overflow: auto;
}

.icon-picker-list li {
	display: flex;
	flex: 0 0 20%;
	float: left;
	width: 20%;
}

.icon-picker-list a {
	background-color: #f9f9f9;
	border: 1px solid #fff;
	color: black;
	display: block;
	flex: 1 1 auto;
	font-size: 12px;
	line-height: 1.4;
	min-height: 100px;
	padding: 10px;
	text-align: center;
	user-select: none;
}

.icon-picker-list a:hover,
.icon-picker-list a.active{
	background-color: #009E49;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.icon-picker-list .fa {
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.icon-picker-list .name-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}


/** FOLDER **/
.folderrow{
    margin-top: 100px;
}
.folder{
	display:block;
	position:relative;
	width:3.5em;
	border-bottom:1em solid #1976D2;
	border-right:.5em solid transparent;
}

.foldername{
    position: relative;
    width: 100%;
    bottom: -80px;
}
.folder:before{
	content:"\2585";
	text-indent:-0.05em;
	font-size:6em;
	color:#42A5F5;
	line-height:.2em;
	position:absolute;
	overflow:visible;
	width:.87em;
	left:.05em;
	top:0.1em;
	background:rgb(241, 0, 0);
	transition:.218s ease;
}

.folder:after{
  content:"";
	position:absolute;
	width:3.5em;
	top:.3em;
	right:-3em;
	border-bottom:1em solid #42A5F5;
	border-left:.5em solid transparent;
}

.folder:hover:before{
	line-height:.4em;
	top:0;
}